git+https://github.com/KurimuzonAkuma/pyrogram.git
aiofiles
aiohttp
future
gTTS
googletrans==4.0.0-rc1
bs4
pytz
requests
psycopg2-binary
psycopg2
TgCrypto
pyromod==1.1.0
ffmpeg-python
pymongo
Flask
gpytranslate
Telethon==1.24.0
cryptg
typing
Python-IO
Pillow==9.5.0
telegraph==1.4.1
urllib3
motor
SQLAlchemy==1.3.23
opencv-python-headless
opencv-python
prettytable
svglib
reportlab
uwuify
python-dotenv
humanize
heroku3
flask_restful
googlesearch-python==1.0.1
gitpython
pymediainfo
prettytable
stability_sdk[anim_ui]
httpx[http2]
speedtest-cli
numpy
validators
emoji
youtube_search_python
youtube_search
rich
yt-dlp
wget
hachoir
pykeyboard
python-arq
search-engine-parser
uvloop
youtube_dl
feedparser
fuzzysearch
img2pdf
pytube
pytz
psutil
google-search-results
git+https://github.com/TeamKillerX/RyuzakiLib
uvicorn
fastapi[all]
typing-extensions
uvicorn[standard]
pydantic
pytgcalls==3.0.0.dev22
g4f
aiocache
aiogram
aiosqlite
apscheduler
arrow
GitPython
qrcode
pygments
environs
curl_cffi
nest_asyncio
cohere
icrawler
unidecode
