aiofiles
aiohttp
future
gTTS
googletrans
bs4
pytz
requests
TgCrypto
pyromod==1.1.0
ffmpeg-python
pymongo
Flask
gpytranslate
Telethon==1.24.0
cryptg
typing
Python-IO
Pillow==9.5.0
telegraph
motor
SQLAlchemy==1.3.23
opencv-python-headless
opencv-python
prettytable
svglib
reportlab
uwuify
python-dotenv
humanize
heroku3
flask_restful
googlesearch-python
gitpython
pymediainfo
prettytable
stability_sdk[anim_ui]
httpx==0.27.1
speedtest-cli
numpy
validators
emoji
youtube_search_python
youtube_search
rich
wget
hachoir
pykeyboard
python-arq
search-engine-parser
uvloop
feedparser
fuzzysearch
img2pdf
pytz
psutil
google-search-results
uvicorn
fastapi[all]
typing-extensions
uvicorn[standard]
pydantic
g4f
aiocache
aiogram
aiosqlite
apscheduler
arrow
GitPython
qrcode
pygments
environs
curl_cffi
nest_asyncio
cohere
icrawler
unidecode
git-python
pySmartDL
selenium
PyYAML==6.0.2
git+https://github.com/KurimuzonAkuma/pyrogram
git+https://github.com/TeamKillerX/RyuzakiLib
git+https://github.com/johnwmillr/LyricsGenius
git+https://github.com/urllib3/urllib3
yt-dlp==2024.8.6
pytgcalls==3.0.0.dev22
